<html>
    <body>
        <form method="post" action="{% url 'agefactorAction'%}">
            {% csrf_token %}
            <table>
                <tr>
                    <td>MIN AGE</td>
                    <td><input type="text" name="minage"></td>
                </tr>

                <tr>
                    <td>MAX AGE</td>
                    <td><input type="text" name="maxage"></td>
                </tr>

                <tr>
                    <td>FACTOR NAME</td>
                    <td><input type="text" name="factor"></td>
                </tr>

                <tr>
                    <td></td>
                    <td><input type="submit" value="add"></td>
                </tr>



            </table>
        </form>
    </body>
{% if messages %}
    {% for msg in messages %}
        <script>
            alert('{{msg}}')
        </script>
    {% endfor %}
{% endif %}
    
</html>