<html>
    <body>
        <form method="post" action="{% url 'seasonAction' %}">
            {% csrf_token %}
            <table>
                <tr>
                    <td>SEASON NAME</td>
                    <td><input type="text" name="seasonname"></td>
                </tr>

                <tr>
                    <td></td>
                    <td><input type="submit" value="add"></td>
                </tr>
            </table>
        </form>
    </body>
{% if messages %}
    {% for msg in messages %}
        <script>
            alert('{{msg}}')
        </script>
    {% endfor %}
{% endif %}
    
</html>