
<li><a href="{% url 'sendmessage' %}">SENDMESSAGE</li>
<li><a href ="{% url 'viewsendermessage'%}">VIEWSENDMESSAGE</a></li>
<li><a href ="{% url 'inbox'%}">INBOX</a></li>
<li><a href ="{% url 'viewtrassh'%}">VIEWTRASH</a></li>
<li><a href="{% url 'addcontact' %}">ADD CONTACT</a></li>
<li><a href="{% url 'blacklist' %}">BLACKLIST</a></li>
<li><a href="{% url 'viewcontact'%}">VIEWCONTACT</a></li>
<li><a href="{% url 'viewblacklist'%}">VIEWBLACKLIST</li>
<li><a href="{% url 'custumerhobbyfactor'%}">CUSTUMER HOBBY FACTOR</li>
<li><a href="{% url 'custumeragefactor'%}">CUSTUMER AGE FACTOR</li>
<li><a href="{% url 'custumerseasoncountry' %}">CUSTUMER SEASON COUNTRY</li>
<li><a href="{% url 'viewspam'%}">VIEW SPAM</li>
<li><a href="{% url 'edit' %}">EDIT</li>